@import '../variables';

.header{
    height: 37.5rem;
    background: url("../../../public/images/home/mobile/image-header.jpg") top / cover;
    background-repeat: no-repeat;
    color: $clr-white;
    background-size: 100% 100%;
    margin-top: -6rem;
    margin-bottom: 6.75rem;

    .header-content{
        // width: 328px;
        position: absolute;
        top: 12.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 17.27rem;
        text-align: center;

        .header-subtitle{
            font-size: var(--ft-overline);
            font-weight: 400;
            color: $clr-light-gray;
            line-height: 1.1875rem;
            letter-spacing: 0.625rem;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
            opacity: 0.5;
        }

        .header-title{
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 2.625rem;
            letter-spacing: 1.29px;
            margin-bottom: 1.5rem;
        }

        .header-paragraph{
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 1.5625rem;
            opacity: 0.75;
            margin-bottom: 2.1875rem;
        }

        .header-btn-headphones{
            @include btn-see-product($clr-white, $clr-orange, none);
            margin: 0 auto;
        }

        .header-btn-headphones:hover{
            background-color: $clr-light-orange;
        }
    }
}

@media screen and (min-width: 450px){
    .header{
        background: linear-gradient($clr-linear-gradient), url('../../../public/images/home/tablet/image-header.jpg') center top / cover;
        background-repeat: no-repeat;
        margin-top: -4rem;
        margin-bottom: 9.25rem;
    }
}


@media screen and (min-width: 640px){
    .header{
        background-size: 100% 100%;
        
        .header-content{
            width: 24.75rem;
            top: 13rem;
        }
    }
}

@media screen and (min-width: 768px){
    .header{
        height: 45.56rem;

        .header-content{
            width: 24.75rem;
            top: 16rem;
        }
    }
}

@media (min-width: 1023px){
    .header{
        background-image: linear-gradient($clr-linear-gradient), url('../../../public/images/home/desktop/image-hero.jpg');
        @include style-background-image(none);
        

        .header-content{
            top: 13rem;
            left: auto;
            right: auto;
            text-align: left;

            .header-subtitle{
                letter-spacing: 0.625rem;
                margin-bottom: 1rem;
            }
    
            .header-title{
                margin-top: 1.5rem;
                font-size: 2.5rem;
                letter-spacing: 1.29px;
                line-height: 2.625rem;
            }
    
    
            .header-paragraph{
                width: 20.8125rem;
                margin-inline: 0;
            }

            .header-btn-headphones{
                margin: 0;
            }
        }
    }
}