@import '../variables';

#root{
    background-color: rgba($clr-gray, 0.1);
}

.btn{
    @include btn-see-product($clr-white, $clr-orange, transparent);
}

.category-banner{
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 1.33;
    font-weight: 700;
    background-color: #191919;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: $clr-white;
    text-align: center;
}

.productCard__container{
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;

    .productCard{
        min-height: 45.25rem;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-bottom: 2.5rem;

        .productCard__image-frame{
            width: 20.438rem;
            height: 22rem;
            border-radius: 0.5rem;
            margin: 0 auto;
        }

        .productCard__image{
            width: 100%;
            object-fit: cover;
        }

        .desktop-image{
            display: none;
        }

        .tablet-image{
            display: none;
        }

        .productCard__content{
            min-width: 20.438rem;
            height: 21.25rem;
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            text-align: left;

            .overline-orange{
                letter-spacing: 0.625rem;
                text-transform: uppercase;
                color: $clr-orange;
                font-weight: 600;
                font-size: 14px;
            }

            .productCard__headline{
                margin-top: 1rem;
                font-size: 1.75rem;
                letter-spacing: 0.063rem;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            p{
                line-height: 1.563rem;
                opacity: 50%;
                font-weight: 500;
                font-size: 0.89rem;
                max-width: 572px;
            }

            .productCard__price{
                font-size: 13px;
                font-weight: 800;
                letter-spacing: 1.29px;
            }
        }
    }
}

@media screen and (min-width: 786px){
    .category-banner{
        font-size: 2.5rem;
        letter-spacing: 0.0894rem;
        padding-top: 6.5625rem;
        padding-bottom: 3rem;
    }

    .productCard__container .productCard{
        text-align: center;

        .productCard__image-frame{
            width: 43.063rem;
        }

        .mobile-image{
            display: none;
        }

        .tablet-image{
            display: block;
        }

        .productCard__content {
            align-items: center;
            text-align: center;

        .productCard__headline{
            font-size: 2.5rem;
            line-height: 2.75rem;
            }
        }
    } 
}

@media screen and (min-width: 1023px) {
    .category-banner{
        padding-bottom: 2rem;
    }

    .productCard__container {
        text-align: left;
        margin-bottom: 12rem;

        .productCard{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            column-gap: 4rem;
            min-height: 35rem;
            margin-bottom: 8rem;

            .productCard__image-frame{
                width: 33.75rem;
                height: 560px;
            }

            .tablet-image{
                display: none;
            }

            .desktop-image{
                display: block;
            }
    
            .productCard__content {
                text-align: left;
                align-items: flex-start;
                row-gap: .5rem;
                max-width: 27.813rem;
                
                .productCard__headline{
                    font-size: 2.5rem;
                    line-height: 2.75rem;
                }

                .btn:hover{
                    background-color: $clr-light-gray;
                }
            }
        }

        .productCard:nth-last-of-type(2){
            
            .productCard__image{
                grid-column: 2/ -1;
                grid-row: 2/1;
            }

            .productCard__content{
                grid-row: 2/1;
                grid-column: 1/2;
            }
        }
    }
}