@import '../variables';

.footer{
    margin-top: 4rem;
    background-color: $clr-black;
    color: $clr-white;
    min-height: 40.875rem;


    .footer_container{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
        background-color: $clr-black;

        .color-bar{
            background-color: $clr-orange;
            width: 6.313rem; 
            height: 0.25rem; 
        }

        .footer_nav{
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;
            row-gap: 1.25rem;

            .footer_logo{
                background-image: url("../../assets/shared/desktop/logo.svg");
                width: 8.938rem;
                height: 1.563rem;
            }

            .footer_list{
                min-width: 6.75rem;
                height: 9.25rem;
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                row-gap: 1rem;

                .footer_nav_link{
                    text-decoration: none;
                    color: $clr-white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 0.813rem;
                    font-weight: 700;
                }
            }
        }

        .footer_paragraph{
            opacity: 50%;
            line-height: 1.5625rem;
            font-weight: 500;
            font-size: 0.938rem;
        }

        .footer_copyright{
            opacity: 50%;
            font-size: 0.938rem;
            margin-top: 2.5rem;
        }

        .footer_social-media{
            width: 104px;
            height: 24px;
            display: flex;
            column-gap: 1rem;
            margin-top: 3rem;

            .footer_x img{
                height: 24px;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .footer{
        min-height: 25rem;
        padding-bottom: 2rem;

        .footer_container{
            grid-template-columns: repeat(2, 1fr);
            place-items: flex-start;
            text-align: left;

            .color-bar{
                grid-column: 1 / span 1;
                margin: 0 0 3.75rem 0;
            }

            .footer_nav{
                grid-column: 1 / span 1;

                .footer_list{
                    flex-direction: row;
                    column-gap: 1rem;
                    height: auto;
                    padding: 0;
                }
            }
        }
        .footer_paragraph{
            grid-column: 1 / -1;
        }

        .footer_copyright{
            grid-column: 1 / span 1;
        }

        .footer_social-media{
            justify-self: end;
        }
    }
}

@media screen and (min-width: 1023px){
    .footer .footer_container{
        grid-template-rows: 4.6875rem 4.1875rem 9.8125rem 4.1875rem;

        .footer_nav{
            grid-column: 1 / -1;
            grid-row: 2 / span 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .footer_list .footer_nav_link:hover{
                color: $clr-orange;
            }
        }

        .footer_paragraph{
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
            max-width: 33.75rem;
        }

        .footer_social-media{
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
            justify-self: flex-end;
            align-self: flex-end;
            margin-bottom: 3.5rem;
            cursor: pointer;
        }
    }
}