@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/*COLORS*/
$clr-orange: #D87D4A;
$clr-light-black: #101010;
$clr-very-light-gray: #FAFAFA;
$clr-light-orange: #fbaf85;
$clr-white: #FFFFFF;
$clr-light-gray: #F1F1F1;
$clr-white-body: #F2F2F2;
$clr-black: #000000;
$clr-gray: #4C4C4C;
$clr-linear-gradient: rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5);

/*FONT*/
$font-family: "Manrope", sans-serif;

*{
    font-family: $font-family;
}

body{
    background-color: $clr-white-body;
}

.page-container{
    width: 88vw;
    margin: 0 auto;
}


@media screen and (min-width: 1023px){
    .page-container{
        width: 77vw;
        max-width: 69.375rem;
        margin: 0 auto;
    }
}

@mixin btn-see-product($color, $background-color, $borderColor){
    width: 160px;
    height: 48px;
    color: $color;
    background-color: $background-color;
    border: 1px solid $borderColor;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin form-input{
    min-width: 280px;
    height: 56px;
    border: 1px solid $clr-gray;
    padding-inline: 1rem;
    border-radius: .5rem;
    font-weight: 700;
    opacity: 70%;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

@mixin form-input-focus{
    border-color: $clr-orange;
    outline: none;
    box-shadow: 0 0 5px $clr-orange;
}

@mixin form-elements($borderColor){
    width: 309px;
    height: 56px;
    background-color: $clr-white;
    border: 1px solid  $borderColor;
}

@mixin btn-numbers(){
    background-color: $clr-light-gray;
}

@mixin style-background-image($color){
    background-color: $color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

